---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - blog
permalink: /tags/{{ tag }}/
section: tags
layout: layouts/base.njk
renderData:
  title: "Posts tagged “{{ tag }}”"
---

<div class="container">
	<div class="row">
		<div class="col-sm-10 mx-auto">
			{% set postslist = collections[ tag ] %}
			{% include "components/postslist.njk" %}

			<nav>
			  <a href="{{ '/blog/' | url }}">← Blog index</a>
			</nav>
		</div>
	</div>
</div>
