<div class="d-flex align-items-center">
	<div class="copyright">&copy; {{ variables.date_year }} Adam Culpepper | Baton Rouge, Louisiana</div>
	<div class="socials ml-auto">
		<a target="social" href="https://linkedin.com/in/adamculpepper" title="LinkedIn">
			<i class="fab fa-linkedin"></i>
		</a>
		<a target="social" href="https://github.com/adamculpepper" title="Github">
			<i class="fab fa-github-square"></i>
		</a>
		<a target="social" href="https://twitter.com/adamculpepper" title="Twitter">
			<i class="fab fa-twitter-square"></i>
		</a>
		<a target="social" href="https://facebook.com/adamculpepper" title="Facebook">
			<i class="fab fa-facebook-square"></i>
		</a>
		<a target="social" href="https://open.spotify.com/user/adamculpepper" title="Spotify">
			<i class="fab fa-spotify"></i>				
		</a>
		<span class="seperator"></span>
		<a target="social" href="https://adamculpepper.net/blog/feed/" title="Blog RSS Feed">
			<i class="fas fa-rss-square"></i>
		</a>
		<a href="mailto:&#109;&#101;&#064;&#097;&#100;&#097;&#109;&#099;&#117;&#108;&#112;&#101;&#112;&#112;&#101;&#114;&#046;&#110;&#101;&#116;" title="Email">
			<i class="fas fa-envelope-square"></i>
		</a>
		<a href="tel:&#050;&#050;&#053;&#046;&#055;&#053;&#053;&#046;&#057;&#050;&#057;&#053;" title="Phone Number">
			<i class="fas fa-phone-square-alt"></i>
		</a>
	</div>
</div>
