<section id="blog-list">
	{% for post in postslist | reverse %}
		<article{% if post.url == url %} data-current="current item"{% endif %}>
			<h3>
				<a href="{{ post.url | url }}">
					{% if post.data.title %}
						{{ post.data.title }}
					{% else %}
						Untitled
					{% endif %}
				</a>
			</h3>
			<div class="post-summary">
			{% if post.data.summary %}
				{{ post.data.summary }}
			{% endif %}
			</div>
			<span class="post-date">
				<time datetime="{{ post.date | machineDate }}">
					{{ post.date | readableDate }}
				</time>
			</span>
			{% if post.data.tags %}
				<span class="post-tags">
					{% for tag in post.data.tags %}
					{%- if tag != "blog" -%}
						{% set tagUrl %}/tags/{{ tag }}/{% endset %}
						<a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
					{%- endif -%}
					{% endfor %}
				</span>
			{% endif %}
		</article>
		<!-- <a href="/authors/{{ post.data.author | slug }}/">{{ post.data.author }}</a> -->
	{% endfor %}
</section>
