---
layout: layouts/home.njk
title: Home
date: 2016-01-01T00:00:00.000Z
permalink: /
eleventyNavigation:
  key: Home
  order: 0
---

<div id="page-title">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 mx-auto">
				<h1 class="mb-0">Hello! My name is <strong>Adam Culpepper</strong>. I'm a <strong>Front-End Web Developer</strong> living in <strong>Baton Rouge, Louisiana</strong>.</h1>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-10 mx-auto">
			<div class="spotlight-portfolio mt-4">
				<div class="row">
					<div class="col-12">
						<h3>Recent Work</h3>
					</div>
					{%- for item in portfolio.items -%}
						{% if item.featured == true %}
							{% if loop.index0 < 6 %}
								<div class="col-4 mb-4">
									<a href="/portfolio">
										{% respimg
											path=item.image,
											width="308",
											height="246",
											alt=item.title,
											sizes="200, 308",
											classes="img-fluid"
										%}
										<h3 class="h5 mt-2">{{ item.title }}</h3>
									</a>
								</div>
							{% endif %}
						{% endif %}
					{% endfor %}
				</div>
			</div>

			<hr>

			<div class="spotlight-blog">
				<div class="row">
					<div class="col-12">
						<h3>Recent Posts</h3>
					</div>
					{% for post in collections.blog | reverse %}
						{% if loop.index0 < 6 %}
							<div class="col-4 mb-4">
								<div class="blog p-3">
									<h3>
										<a href="{{ post.url | url }}">
											{% if post.data.title %}
												{{ post.data.title }}
											{% else %}
												Untitled
											{% endif %}
										</a>
									</h3>
									<div class="post-summary">
										{% if post.data.summary %}
											{{ post.data.summary }}
										{% endif %}
									</div>
									<!-- <span class="post-date">
										<time datetime="{{ post.date | machineDate }}">
											{{ post.date | readableDate }}
										</time>
									</span> -->
									{% if post.data.tags %}
										<!-- <span class="post-tags">
											{% for tag in post.data.tags %}
											{%- if tag != "blog" -%}
												{% set tagUrl %}/tags/{{ tag }}/{% endset %}
												<a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
											{%- endif -%}
											{% endfor %}
										</span> -->
									{% endif %}
									<a class="btn btn-primary mt-3" href="{{ post.url }}">Read More</a>
								</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>	
	</div>
</div>
