<!DOCTYPE html>
<html lang="en">
	{% include "components/head.njk" %}

	{% set pageSlug %}
		{% if permalink == '/' %}
			page-home
		{% elseif section == 'post' %}
			page-post
		{% elseif section == 'tags' %}
			page-tags
		{% else %}
			page-{{permalink | replace("index.html", "") | slug}}
		{% endif %}
	{% endset %}

	<body id="{{ pageSlug | trim}}">
		<!-- section: {{ section }} -->
		<!--
		include("functions.php");

		switch($_SERVER['REQUEST_URI']) {
		    case '/contact':
				$title = "Contact Adam Culpepper, Web Developer | Baton Rouge, LA"; break;
		    case '/portfolio':
				$title = "Portfolio of Front End and JavaScript Programming | Baton Rouge La"; break;
		    case '/resume':
				$title = "Web Developer Résumé | Baton Rouge, Louisiana, JavaScript & PHP Programmer"; break;
		    default:
				$title = "Web Developer & JavaScript programmer, Adam Culpepper in Baton Rouge, Louisiana"; break;
		}
		?>
		-->

		<header>
			<div class="container">
				<div class="row">
					<div class="col-sm-10 mx-auto">
						<div class="d-flex align-items-center">
							<div class="logo">
								<a href="/">
									<img class="img-fluid" src="/_includes/assets/img/logo-adam-culpepper.png" alt="Adam Culpepper - Web Developer from Baton Rouge, Louisiana">
								</a>
							</div>
							<div class="ml-auto">
								{% include "components/nav.njk" %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>


		{% if section != 'home' %}
		<div id="page-title">
			<div class="container">
				<div class="row">
					<div class="col-sm-10 mx-auto">
						{% if section == 'post' %}
							<div class="single-blog">
								<h1>{{ title }}</h1>
								{% if date %}
									<span class="post-date">
										<time datetime="{{ post.date | machineDate }}">
											{{ date | readableDate }}
										</time>
									</span>
								{% endif %}
								{% if tags %}
								<span class="post-tags">
									{% for tag in tags %}
										{%- if tag != "blog" -%}
											{% set tagUrl %}/tags/{{ tag }}/{% endset %}
											<a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
										{%- endif -%}
									{% endfor %}
								</span>
								{% endif %}
							</div>
						{% elseif section == 'tags' %}
							<h1>{{ renderData.title }}</h1>
						{% else %}
							<h1>{{ title }}</h1>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		{% endif %}


		<main id="content">
			{{ layoutContent | safe }}
		</main>

		<footer>
			<div class="container">
				<div class="row">
					<div class="col-sm-10 mx-auto">
						{% include "components/footer.njk" %}
					</div>
				</div>
			</div>
		</footer>

		<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="/_includes/assets/js/scripts.js"></script>
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-450952-7']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</body>
</html>
