---
layout: layouts/base.njk
section: portfolio
---

{{ layoutContent | safe }}

<div class="container">
	<div class="row">
		<div class="col-sm-10 mx-auto">
			<div class="row">
				{%- for item in portfolio.items -%}
					{% if item.featured == true %}
						<div class="col-sm-4 mb-4">
							<div class="portfolio-item">
								<a rel="port" href="fullimage.jpg" title="{{ item.title }}">
									<div class="details-overlay p-2">
										<h4>{{ item.title }}</h4>
										<ul>
											{%- for skill in item.skills -%}
												<li>{{ skill }}</li>
											{%- endfor -%}
										</ul>
										<div>Designer: {{ item.designer }}</div>
									</div>
									{% respimg
										path=item.image,
										width="308",
										height="246",
										alt=item.title,
										sizes="200, 308",
										classes="img-fluid"
									%}
								</a>
							</div>
						</div>
					{% else %}
					<div class="portfolio-item-small">
						<h5>{{ item.title }}</h5>
					</div>
					{% endif %}
				{%- endfor -%}
			</div>
		</div>
	</div>
</div>
