---
layout: layouts/base.njk
section: post
---

<article>
	<div class="container">
		<div class="row">
			<div class="col-sm-10 mx-auto">
				{{ layoutContent | safe }}

				{% if tags %}
				<p>
					{% for tag in tags %}
					{%- if tag != "post" -%}
					{% set tagUrl %}/tags/{{ tag }}/{% endset %}
					<a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
					{%- endif -%}
					{% endfor %}
				</p>
				{% endif %}
			</div>
		</div>
	</div>
</article>

<div class="container">
	<div class="row">
		<div class="col-sm-10 mx-auto py-3">
			<nav>
				<a href="{{ '/blog/' | url }}">← Blog index</a>
			</nav>

		</div>
	</div>
</div>
